
<header class="py-6 mx-10">
    <nav class="flex flex-row justify-between items-center">
        <div class="logo basis-1/6 text-xl font-semibold cursor-pointer">
            Coffe House
        </div>
        <ul class="basis-4/6 flex items-center justify-end gap-8 uppercase text-sm text-gray-500 font-medium">
            <li class="cursor-pointer hover:text-gray-800 relative ">
                <a href="#">Home</a>
            </li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Guide</a></li>
        </ul>
        <ul class="basis-1/6">
            Cart
        </ul>
    </nav>
</header>