<ul class="basis-3/6 hidden lg:basis-1/6 lg:flex lg:items-center lg:justify-end lg:gap-10 uppercase text-sm text-gray-500 font-medium" >
    <li class="coffe-top-menu-item">
      <a href="#">Home</a>
    </li>
    <li class="coffe-top-menu-item"><a href="#">Products</a></li>
    <li class="coffe-top-menu-item"><a href="#">Blog</a></li>
    <li class="coffe-top-menu-item"><a href="#">About us</a></li>
    <li class="coffe-top-menu-item"><a href="#">Contact</a></li>
    <li class="coffe-top-menu-item"><a href="#">Guide</a></li>
  </ul>